@font-face {
  font-family: "D7CMR";
  src: url("./fonts/DSEG7ClassicMini-Regular.woff") format('woff');
}

@font-face {
  font-family: "D14CMR";
  src: url("./fonts/DSEG14ClassicMini-Regular.woff") format('woff');
}

body {
  background-color: #d8a45f;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

img {
  width: 36pt;
  height: 36pt;
  margin: 5px;
  margin-right: 15px;
}

#elm {
  display: flex;
  flex: 1 1 0;

  .MainDiv {
    display: flex;
    flex-direction: row;
  }
}

.Button {
  border: 1px outset #979797;
  background-color: rgba(0, 0, 0, 0.05);

  &:active {
    border-style: inset;
  }
}

.TableHolder {
  border-right: 1.5px solid #000;
  display: flex;
  flex-direction: column;
  font-size: 28pt;

  h1 {
    font-size: 1em;
    font-family: monospace;
    text-align: center;
  }

  table {
    border-spacing: 0.3em;
    font-size: inherit;

    .Number {
      font-family: "D7CMR";
      position: relative;
      color: rgba(0, 255, 0, 0.15);
      background-color: #000;
      border: 1px inset #979797;
      padding: 5px;
      text-align: right;

      > .Overlay {
        position: absolute;
        left: -5px;
        color: rgba(0, 255, 0, 1);
        width: 100%;
      }

      .Comma {
        font-family: "D14CMR";
        margin-right: -0.3em;
        margin-left: -0.25em;
      }
    }

    .CenterAll {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Spacer {
      flex-grow: 100;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;

  .Project {
    .Button;
    width: 128px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;

    &.Disabled {
      color: #4c4c4c;

      &:active {
        border-style: outset;
      }
    }
  }
}

.footer {
  font-size: 12px;
  text-align: center;
}
